pkgbase = millennium-helpers-git
	pkgdesc = Cross-platform utility scripts and Model Context Protocol (MCP) server for managing, upgrading, diagnosing, and controlling Millennium on Linux and Windows
	pkgver = r233.gd4892ad
	pkgrel = 1
	url = https://github.com/bolens/millenium-helpers
	install = millennium-helpers.install
	arch = any
	license = MIT
	makedepends = git
	depends = bash
	depends = curl
	depends = unzip
	depends = python
	depends = sudo
	optdepends = jq: enhanced JSON parsing for updates
	optdepends = systemd: daily update timer scheduler
	optdepends = libnotify: desktop notifications for background update status
	optdepends = flatpak: compatibility with Flatpak Steam
	optdepends = cronie: alternative daily update timer scheduler via cron (fallback)
	provides = millennium-helpers
	conflicts = millennium-helpers
	backup = etc/sudoers.d/millennium-helpers
	source = millennium-helpers::git+https://github.com/bolens/millenium-helpers.git
	source = millennium-helpers.sudoers
	sha256sums = SKIP
	sha256sums = d2a3e23decbd8d3e8ec59919f3bc244be21b9a1f6fa5e70ddd039243b7a87c9d

pkgname = millennium-helpers-git
