pkgbase = millennium-helpers-git
	pkgdesc = Utility scripts for managing, repairing, upgrading, rolling back, viewing logs, managing themes, and scheduling updates for Millennium on Linux
	pkgver = r95.g02b6280
	pkgrel = 1
	url = https://github.com/bolens/millenium-helpers
	install = millennium-helpers.install
	arch = any
	license = MIT
	makedepends = git
	depends = bash
	depends = curl
	depends = unzip
	depends = python
	depends = sudo
	optdepends = jq: enhanced JSON parsing for updates
	optdepends = systemd: daily update timer scheduler
	optdepends = libnotify: desktop notifications for background update status
	optdepends = flatpak: compatibility with Flatpak Steam
	optdepends = cronie: alternative daily update timer scheduler via cron (fallback)
	provides = millennium-helpers
	conflicts = millennium-helpers
	backup = etc/sudoers.d/millennium-helpers
	source = millennium-helpers::git+https://github.com/bolens/millenium-helpers.git
	source = millennium-helpers.sudoers
	sha256sums = SKIP
	sha256sums = 6e5cd09dd4baac9d954476bf9825f7fe2b6aee7341ed7002c6f052b8f29aa44e

pkgname = millennium-helpers-git
